body {
  margin: 0;
  font-family: "Montserrat", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

strong {
  color: #7B18AC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: "RGB(123, 24, 173)";
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: "#000";
}

.fa-icon {
  font-size: 15px;
  margin-right: 5px;
}